<% if user_signed_in? && current_user.id <= 104 %>
    <%= form_with model: profile, local: true do |f|%>
      <div class="field">
        <%= f.label :image, "セールスの画像" %><br />
        <%= f.file_field :image, id:"profile_image" %>
      </div>

      <div class="field">
        <%= f.label :message, "お客様へのメッセージ" %><br />
        <%= f.text_area :message,class: :form__message, id:"profile_massage" %>
      </div>

      <div class="field">
        <%= f.label :age, "年齢" %><br />
        <%= f.text_area :age,class: :form__age, id:"profile_age" %>歳
      </div>

      <div class="field">
        <%= f.label :career, "経歴やコメント" %><br />
        <%= f.text_area :career, class: :form__text, id:"profile_career" %>
      </div>

      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>

    <% end %>

  <%# elsif user_signed_in? && current_user.id >= 11%>
  <%#顧客のプロフィールを実装する時に記述%>
  <%#else %>
 


<%end %>