<main class="main">
  <div class="inner">
    <div class="profile__wrapper">
      
       <% if user_signed_in? && current_user.id == @profile.user_id %>
        <div class="sekuhen">
            <div class="profile__manage">
              <%= link_to "編集する", edit_profile_path(@profile.id), class: :profile__btn %>
            </div>
              <div class="profile__manage">
              <%= link_to "削除する", profile_path(@profile.id), method: :delete ,class: :profile__btn %>
            </div>
        </div>
      <% end %>

     <%#名前と画像を左側に。その他を右側に配置する。%>
     <div class="head">
      <div class="head-left"> 
        <p class="profile__hedding">
            <%= @profile.user.name %>
          </p>
          <div class="profile__image">
            <%= image_tag @profile.image %>
          </div>
           <% if current_user.id != @profile.user_id && current_user.id >= 11%>
           <div class="renraku-button">
            この社員に連絡をしてみる。
           </div>
           <% elsif current_user.id == @profile.user_id %> 
            <div class="renraku-button">
            お客様からの問い合わせ一覧
           </div>
           <% else %>

           <% end %>

      </div>

      <div class="head-right">
              <div class="profile__detail">
              <p class="detail__title">年齢</p>
                <p class="detail__message">
                  <%= @profile.age %>歳
                </p>
              </div>
              <div class="profile__detail">
                <p class="detail__title">経歴</p>
                <p class="detail__message">
                  <%= @profile.career %>
                </p>
              </div>
            <div class="profile__body">
              <div class="profile__detail">
                <p class="detail__title">お客様へのメッセージ</p>
                <p class="detail__message">
                  <%= @profile.message %>
                </p>
              </div>
            </div>
      </div>
    </div>
      <%#<div class="profile__comments">
        <% if user_signed_in? %>
          <%# <%= form_with model:[@profile],local: true do |f|%>
           <%#  <div class="field">
            <%#   <%= f.label :text, "コメント" %><br />
            <%#   <%= f.text_field :text, id:"comment_text" %>
           <%#  </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
          <%#   </div>
          <% end %> 
        <%#<% end %>
       <%#  <ul class="comments_lists">
          <div class="comments">
            <%# @comments.each do |comment| %>
         <%#      <li class="comments_list">
         <%#      <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %><%#/strong>
         <%#     <%= comment.text %>
          <%#     </li>
         <%#    <% end %>
         <%#</ul>   
      </div>%>
    </div>
  </div>
</main>
