<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FROM_WHO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>

   <%# 社員と顧客をidによって分岐させる %>
  <% if user_signed_in? && current_user.id <= 10 %>
      <header class="sales_header">
    <% elsif user_signed_in? && current_user.id >= 11%>
      <header class="customer_header">
    <% else %>
      <header class="customer_header">
  <% end %>
<%# 社員と顧客をidによって分岐させる %>


      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>


          <%if user_signed_in? %>
              <div class="nav__right"> 
                <%= link_to "ログアウト",  destroy_user_session_path,  method: :delete,class: :nav__logout %>
           <%# ↓すでに投稿している社員だったら %>  
              <% if  current_user.profile.present? && current_user.id <= 10 %>
              <%= link_to "自分のプロフィールを見る", profile_path(current_user.profile.id), class: :nav__btn %>
           <%# ↓投稿していない社員だったら %> 
                <% elsif user_signed_in? && current_user.id <= 10 %>
              <%= link_to "プロフィールの投稿", new_profile_path, class: :nav__btn %>
                <% else %>
           <%# 顧客の場合の実装時記述 %>
              <% end %>
           
              </div> 
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  
<%# 社員と顧客をidによって分岐させる %>
  <% if user_signed_in? && current_user.id <= 10 %>
    <footer class="sales_footer">
    <p class="sales_footer_letter">社員用のページです。</p>
    <% elsif user_signed_in? && current_user.id >= 11%>
     <footer class="customer_footer">
    <p class="customer_footer_letter">当社をご利用いただきありがとうございます。</p>
    <% else %>
  <% end %>
<%# 社員と顧客をidによって分岐させる %>


    </footer>
  </body>
</html>
